.pairprogramming {
  background-color: white;

}

.pairprogramming ul {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.pairprogramming li {
  font-size: 15px;
  line-height: 40px;
  text-align: left;
}

.left {
  float: left;
}

.right {
float: right;
}

.center {
  float: initial;
}
